* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body,
main,
header {
    width: 100%;
}

main,
section {
    margin: 0 auto;
}

a.btm-white,
a.btm-black {
    text-decoration: none;
    display: inline-block;
    /*  height: 40px; */
    font-weight: 700;
    padding: 16px 26px;
    border-radius: 5px;
}

a.btm-white:link,
a.btm-white:active,
a.btm-white:visited {
    background: #ffffff;
    color: #60afa4;
    border: 2px #60afa4 solid;
}

a.btm-white:hover {
    background: #60afa4;
    color: #ffffff;
    border: 2px #ffffff solid;
}

/* header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    /*?*/
    box-shadow: 0.063rem 0.063rem 0.438rem #00000060;
}

.logo {
    width: 4.375rem;
    height: 6.563rem;
    margin: 0rem 5.625rem;
}

.menu {
    display: flex;
    gap: 1.25rem;
}

.menu-item {
    list-style: none;
}

.menu-link {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
}

.menu-info {
    font-weight: 600;
    font-size: 0.813rem;
}

.menu-line {
    width: 0.125rem;
    height: 2.5rem;
    background: #60afa4;
}

.phone {
    color: #60afa4;
    text-decoration: none;
    font-weight: 600;
}

.menu-btn {
    padding: 1rem 1.625rem;
    background-color: #60afa4;
    color: #ffffff;
    border: 0.125rem solid #60afa4;
    font-weight: 700;
    border-radius: 0.313rem;
}

/* greeting */

.greeting {
    background: #F0F1F1;
    width: 100%;
}

.greeting-container {
    display: flex;
    width: 70%;
    padding: 0 5.625rem;
    position: relative;
}

.greeting-title__header {
    font-size: 4.188rem;
    line-height: 1;
    font-weight: 400;
    padding-top: 5.625rem;
}

.greeting-title__item {
    font-size: 0.938rem;
    display: flex;
    gap: 0.938rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.item-list {
    color: #60afa4;
    font-size: 0.938rem;
    list-style: none;
}

.greeting-btn {
    margin-bottom: 7rem;
}

.greeting-image {
    position: absolute;
    max-width: 100%;
    left: 84%;
    height: 100%;
}

/* section goods */

.goods-greetings {
    display: flex;
    justify-content: space-around;
    padding: 7.5rem 0;
}

.goods-greetings__header {
    font-size: 3.125rem;
    font-weight: 400;
}

.goods-cards {
    display: flex;
    gap: 1.938rem;
    flex-wrap: wrap;
    margin: 0 5.625rem;
    margin-bottom: 1.875rem;
}

.goods-cards__item {
    padding: 0.938rem;
    background: #F0F1F1;
    border-radius: 0.938rem;
    max-width: 30%;

}

.goods-cards__item>img {
    width: 18.75rem;
    height: 12.625rem;
}

/* section price */

.price {
    position: relative;
    color: white;
    margin-top: 70px;
}

.price .price-container {
    background: rgb(92, 169, 158);
    background: linear-gradient(133deg, rgba(92, 169, 158, 1) 0%, rgba(122, 215, 202, 1) 100%);
    min-height: 550px;
    border-radius: 15px;
    position: relative;
}

.price-bg {
    position: absolute;
    background: url(images/Vector_1.svg);
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

.price-bg__block {
    position: absolute;
    background: url(images/iphone-x-line-button.webp);
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position-x: 80%;
    background-repeat: no-repeat;
}

.price-list {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    margin: auto 0;
    height: 375px;
}

.price-list__header {
    font-size: 52px;
    line-height: 0.95;
    font-weight: 400;
    margin: 0px;
}

.price-list__description {
    width: 100%;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}

.price-list__btn {
    width: 100%;
}

/* section recommendation */

.recommendation-container {
    margin: 0 5.625rem;
}

.recommendation-header {
    font-size: 2.5rem;
    font-weight: 400;
}

.recommendation-cards {
    display: flex;
    gap: 1rem;
    width: 18.75rem;
}

.recommendation-cards__item {
    background: #F0F1F1;
    border-radius: 0.938rem;
}

.recommendation-cards__item>img {
    width: 18.75rem;
    height: 13.021rem;
}

.recommendation-cards__item-header {
    font-size: 1.125rem;
    font-weight: 600;
}

.recommendation-cards__item-description {
    font-size: 0.875rem;
    font-weight: 400;
}

/* section company */

.company-container {
    display: flex;
    gap: 3rem;
    background: #F0F1F1;
    margin: 6.25rem 5.625rem 17.813rem 5.625rem;
}

.company-info {
    width: 30%;
    font-size: 0.875rem;
}

.company-description {
    width: 70%;
}

.company-description__header {
    font-size: 2.188rem;
    font-weight: 300;
}

.company-description__header>span {
    color: #F0F1F1;
    background: #60afa4;
    border-radius: 0.313rem;
}

.company-description__info {
    display: flex;
}

/* section services */

.services-container {
    margin-bottom: 17.813rem;
    margin: 6, 25rem auto;
}

.services-item {
    display: flex;
    gap: 3rem;
}

.services-item__block {
    width: 22.499rem;
    height: 19.034rem;
    background: #F0F1F1;
    border-radius: 0.938rem;
    border: 0.125rem solid #eef2f5;
}


.services-bg {
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(images/pixlr-bg-result.webp);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    background-position-x: 60%;
}

.oval-0 {
    z-index: -1;
    background: #F5F7F5;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px 0px 200px 0px;
    animation-delay: 1s;
}

.oval-1 {
    background: #FBFBF9;
    height: 130px;
    width: 130px;
    border-radius: 15px 0px 130px 0px;
    animation-delay: 1s;
}

.service-item-1 {
    background: url(images/fi-rr-credit-card.svg)
}

.service-item-2 {
    background: url(images/fi-rr-truck-side.svg)
}

.service-item-3 {
    background: url(images/fi-rr-shield-check.svg)
}

.service-item-4 {
    background: url(images/fi-rr-earnings.svg)
}

.service-item-5 {
    background: url(images/fi-rr-shopping-cart-.svg)
}

.service-item-6 {
    background: url(images/fi-rr-user.svg)
}

/* section map */

.map {
    background-color: #F0F1F1;
}


/* footer */

.contact {
    background: rgb(92, 169, 158);
    background: linear-gradient(133deg, rgba(92, 169, 158, 1) 0%, rgba(122, 215, 202, 1) 100%);
}

.contact-container {
    display: flex;
}

.contacts-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(images/Vector_1.svg);
    background-repeat: no-repeat;
    background-position: right;

}

.contact-line {
    background: url(images/Vector_1.svg);
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.section-contacts-header {
    font-size: 50px;
    line-height: 0.95;
    font-weight: 300;
    margin: 0px;
}

.contacts-center {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
}

/*
.contact-form {
    width: 81%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 121%;
   
    background-color: #60afa470;
    border-radius: 18px;
    align-content: space-between;
} */

.contact-img {
    background: url(images/Vector_3.svg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    top: 0;
    bottom: 479px;
    margin: auto 0;
    right: -46px;
    left: -33px;
}

.contact-forma {
    background: #ffffff;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    left: 0;
}

form {
    background: white;
    padding: 30px;
    border-radius: 0 20px 20px 0;
    color: #60afa4;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.inp {
    border: 1px blue solid;
    outline: none;
    color: green;
    padding: 10px 20px;
    border-radius: 10px;
}

.inp::placeholder {
    color: #60afa4;
}