* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body,
main,
header,
section {
    width: 100%;
}

header,
main,
section {
    margin: 0 auto;
}

.menu-btn {
    padding: 1rem 1.625rem;
    background-color: #37aca0;
    color: #ffffff;
    border: 0.125rem solid #37aca0;
    font-weight: 600;
    border-radius: 0.313rem;
    font-size: 0.875rem;
}

.menu-btn:hover {
    border: 0.125rem solid #37aca0;
    background-color: #ffffff;
    color: #60afa4;
}

.menu-btn__color {
    padding: 1rem 1.625rem;
    background-color: #ffffff;
    color: #37aca0;
    border: 0.125rem solid #37aca0;
    font-weight: 600;
    border-radius: 0.313rem;
    font-size: 0.875rem;
}

.menu-btn__color:hover {
    background-color: #37aca0;
    color: #ffffff;
    border: 0.125rem solid #37aca0;
}

/* header */

.header {
    background: #eef2f5;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.063rem 0.063rem 0.438rem #00000060;
    padding: 0 7.625rem;
}

.header-logo {
    cursor: pointer;
}

.logo {
    height: 6.563rem;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    padding: 0 1.25rem;
}

.menu-link {
    font-weight: 500;
    font-size: 0.875rem;
    text-decoration: none;
    color: #000000;
}

.menu-item::after {
    display: block;
    content: '';
    border-bottom: solid 1px #37aca0;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.menu-item:hover::after {
    transform: scaleX(1);
}

.menu-info {
    font-weight: 600;
    font-size: 0.75rem;
}

.menu-line {
    width: 0.125rem;
    height: 2.5rem;
    background: #37aca0;
}

.phone {
    color: #37aca0;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.938rem;
}

.phone:hover {
    color: #2b2b2b;
}

#burger,
[for=burger] {
    display: none;
}

/* greeting */

.greeting {
    background: #eef2f5;
    width: 100%;
}

.greeting-container {
    display: flex;
    width: 60%;
    padding: 0 7.625rem;
    position: relative;
}


.greeting-title__header {
    font-size: 4.375rem;
    line-height: 1;
    font-weight: 400;
    padding-top: 5.625rem;
}

.greeting-title__item {
    font-size: 0.938rem;
    display: flex;
    gap: 0.938rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.item-list {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    padding: 0 1.875rem;
    list-style: disc;
    padding-left: 0;
}

.item-list::marker {
    color: #37aca0;
    font-size: 2rem;
}

.greeting-btn {
    margin-bottom: 7rem;
}

.greeting-image__before {
    background-image: url(./images/female-hands-disposa.png);
    position: absolute;
    width: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    left: 49.5rem;
    background-position-x: right;
    top: 2.438rem;
    bottom: 0;
    overflow: hidden;
}

.greeting-image {
    background-image: url(./images/Frame_1.svg);
}

/* section goods */

.goods {
    width: 100%;
}

.goods-container {
    padding: 0 7.625rem;
}

.goods-greetings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5rem 0;
}

.goods-greetings__header {
    font-size: 3.375rem;
    font-weight: 400;
}

.goods-cards {
    display: flex;
    gap: 2.938rem;
    margin-bottom: 1.875rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.goods-cards__item {
    padding: 0.938rem;
    background: #F0F1F1;
    border-radius: 0.938rem;
    max-width: 30%;
}

.goods-cards__item-header {
    padding: 0.938rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.goods-cards__item-description {
    padding: 0.938rem;
    font-size: 0.875rem;
    font-weight: 400;
}

.goods-cards__item-description__down {
    padding-bottom: 2rem;
}

.goods-cards__item-color {
    padding: 0.938rem 0.938rem 0.188rem;
    font-size: 0.875rem;
    font-weight: 400;
}

.goods-cards__item-circle {
    width: 2.125rem;
    height: 2.125rem;
    border: 0.063rem solid #949596;
    border-radius: 50%;
    padding: 0.188rem;
    margin: 0 2.5rem 2.5rem 0.938rem;
}

.goods-cards__item-circle__inside {
    width: 1.625rem;
    height: 1.625rem;
    border: 0.063rem #EBE7E6 solid;
    border-radius: 50%;
}


.goods-cards__item-circle__inside_white {
    background: #FFFFFC;
}

.goods-cards__item-circle__inside_purple {
    background: #7C86B9;
}

.goods-cards__item-circle__inside_blue {
    background: #2D60A5;
}

.goods-cards__item-circle__inside_grey {
    background: #D0CAD8;
}

.goods-cards__item-circle__inside_red {
    background: #DA3E2E;
}

.goods-cards__item-circle__inside_black {
    background: #000000;
}

.goods-cards__item-circle__inside_green {
    background: darkgreen;

}

.goods-cards__item-circle__inside_pink {
    background: #EBB8C9;
}

.goods-cards__item>img {
    height: 12.625rem;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.goods-cards__btn {
    margin: 0 auto;
    display: block;
}

/* section price */

.price {
    position: relative;
    color: white;
    margin-top: 4.375rem;
    padding: 0 7.625rem;
}

.price-container {
    background: linear-gradient(113deg, rgba(54, 172, 160, 1) 0%, rgba(80, 222, 208, 1) 100%);
    min-height: 34.375rem;
    border-radius: 0.938rem;
    position: relative;

}

.price-bg {
    position: absolute;
    background: url(images/Vector_1.svg);
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

.price-bg__block {
    position: absolute;
    background: url(images/iphone-x-line-button.webp);
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position-x: 80%;
    background-repeat: no-repeat;
}

.price-list {
    width: 47%;
    padding: 6rem 0rem 5rem 4rem;
}

.price-list__header {
    font-size: 3.75rem;
    line-height: 3.563rem;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 2rem;
}

.price-list__description {
    width: 87%;
    padding-bottom: 3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.563rem;
    color: #ffffff;
}

/* section recommendation */

.recommendation {
    width: 100%;
}

.recommendation-container {
    padding: 0 7.625rem;
}

.recommendation-header {
    padding: 7.5rem 0 5rem 0;
}

.recommendation-header__cards {
    font-size: 3.375rem;
    font-weight: 400;
}

.recommendation-cards {
    display: flex;
    gap: 2.938rem;
    margin-bottom: 1.875rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recommendation-cards__item {
    background: #eef2f5;
    border-radius: 0.938rem;
    padding: 0.938rem;
    max-width: 30%;
}

.recommendation-cards__item>img {
    width: 18.75rem;
    height: 12.625rem;
    display: block;
    margin: 0 auto;
}

.recommendation-cards__item-header {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.938rem;
}

.recommendation-cards__item-description {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.938rem;
}

.recommendation-cards__btn {
    margin: 0 auto;
    display: block;
}

/* section company */

.company {
    background: #eef2f5;
    width: 100%;
}

.company-container {
    padding: 0 7.625rem;
    padding-top: 3rem;
}

.company-info {
    display: flex;
    gap: 20rem;
    padding-top: 6.25rem;
    padding-bottom: 4.813rem;
}

.company-info__about {
    font-size: 0.875rem;
    font-weight: 400;
    width: 30%;
}

.company-description__header {
    font-size: 3.25rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

.company-description__header>span {
    color: #eef2f5;
    background: #37aca0;
    border-radius: 0.313rem;
}

.company-description__info {
    display: flex;
}

.company-description__info-block {
    width: 70%;
}

.company-description__info-block_part {
    padding-right: 2.813rem;
}

.company-description__history {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.563rem;
    padding: 0.938rem 0;
}

/* section services */

.services {
    width: 100%;
}

.services-bg {
    background: url(images/pixlr-bg-result.webp);
    background-repeat: no-repeat;
    background-size: 122.5rem auto;
    background-position: center;
}

.services-container {
    margin-bottom: 6.813rem;
    margin-top: -27rem;
    padding: 0 7.625rem;
}

.services-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 62.5rem;
}

.services-item__block {
    width: 22.499rem;
    height: 19.034rem;
    border-radius: 0.938rem;
    border: 0.125rem solid #eef2f5;
    padding: 1.875rem;
    margin-bottom: 1rem;
    background: #ffffff;
    position: relative;
    z-index: 2;
}

.services-item__header {
    padding: 1.33rem 0;
    font-size: 1.125rem;
    font-weight: 600;
}

.services-bg>img {
    width: 100%;
}



.oval-0 {
    z-index: -1;
    background: #F5F7F5;
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 0.938rem 0rem 12.5rem 0rem;
}

.services-item__block:hover>.oval-0 {
    background: #8fd4ca60;
}

.services-item__block:hover>.oval-0>.oval-1 {
    background: #73cdc060;
}

.oval-1 {
    background: #FBFBF9;
    height: 8.125rem;
    width: 8.125rem;
    border-radius: 0.938rem 0rem 8.125rem 0rem;
}

/* section map */

.map {
    background-color: #eef2f5;
}


/* footer */

.contact {
    background: linear-gradient(128deg, rgba(54, 172, 160, 1) 0%, rgba(80, 222, 208, 1) 100%);
    position: relative;
}

.contact-container {
    display: flex;
    padding: 0 7.625rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.contacts-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: url(images/Vector_1.svg);
    background-repeat: no-repeat;
    background-position: right;

}

.contact-line {
    background: url(images/Vector_1.svg);
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.section-contacts-header {
    font-size: 3.75rem;
    line-height: 3.75rem;
    font-weight: 400;
    margin: 0px;
    color: #ffffff;
    padding: 3rem 0 3rem 0;
    width: 95%;
}

.contacts-center {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    width: 80%;
    padding-bottom: 3rem;
    line-height: 1.188rem;
}

.contacts-center>span {
    color: #ffffff60;
    font-size: 0.75rem;
    font-weight: 400;
}

.contact-img {
    position: absolute;
    top: -17px;
    right: 34px;
}


.contact-form {
    background: #ffffff;
    border-radius: 1.25rem;
    padding: 20px 20px;
    margin: 20px 0;
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-input {
    border: 1px solid rgb(242, 242, 242);
    padding: 1.2rem 15.875rem 1.2rem 1rem;
    display: flex;
    border-radius: 0.375rem;
    color: rgb(43, 43, 43);
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0.688rem;
}

.contact-form__header {
    font-size: 1.125rem;
    font-weight: 500;
    color: #2b2b2b;
    line-height: 1.75rem;
    padding: 1.875rem 0;
}

.contact-form__header>span {
    color: #37aca0;
}

.contact-form__btn {
    margin-top: 1rem;
}

.contact-checkbox__block {
    display: flex;
    gap: 0.4rem;
}

.contact-checkbox {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(43, 43, 43);
}

.contact-checkbox_color {
    color: #37aca0;
}

.contact-input:focus {
    outline-color: #37aca0;
}


@media (min-width: 1024px) and (max-width: 1439px) {

    .header-container {
        padding: 0 1.625rem;
    }

    .greeting-container {
        padding: 0 1.625rem;
        width: 100%;
        overflow: hidden;
    }

    .greeting-title {
        max-width: 60%;
        z-index: 1;
    }

    .greeting-image__before {
        max-width: 59%;
        left: 37.5rem;
        top: 4.438rem;
    }

    .item-list {
        margin-left: 1.625rem;
    }

    .goods-container {
        padding: 0 1.625rem;
    }

    .price {
        padding: 0 1.625rem;
    }

    .recommendation-container {
        padding: 0 1.625rem;
    }

    .recommendation-cards__item>img {
        max-width: 15.75rem;
    }

    .company-container {
        padding: 0 1.625rem;
    }

    .company-info {
        gap: 6rem;
    }

    .services-container {
        margin-top: -40rem;
        padding: 0 1.625rem;
    }

    .services-bg {
        background-size: 85.5rem auto;
    }

    .services-item {
        justify-content: space-evenly;
    }

    .contact-container {
        padding: 0 1.625rem;
    }

    .contact-form {
        width: inherit;
    }

    .contact-img {
        top: -17px;
        right: 17px;
        max-height: 3.938rem;
    }

    .contact-checkbox__block {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    [for=burger] {
        display: block;
    }

    .header-container {
        padding: 0px 3.625rem;
    }

    .menu,
    .menu-info,
    .menu-line {
        display: none;
    }

    .fa-solid {
        font-size: 44px;
        color: #37aca0;
    }

    #burger:checked+label+div {
        display: block;
    }

    .greeting-container {
        padding: 0 1.625rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: inherit;
    }

    .item-list {
        margin-left: 1rem;
    }

    .greeting-image__before {
        display: none;
    }

    .goods-container {
        padding: 0px 3.625rem;
    }

    .goods-greetings {
        padding: 3.5rem 0;
    }

    .goods-greetings__header {
        font-size: 2rem;
    }

    .goods-cards__item {
        max-width: 46%;
    }

    .price {
        padding: 0px 3.625rem;
    }

    .price-bg {
        display: none;
    }

    .price-list {
        position: absolute;
        z-index: 1;
        width: 53%;
        padding: 4rem 0rem 0rem 2rem;
    }

    .price-list__header {
        font-size: 2.625rem;
    }

    .price-bg__block {
        background-position-x: 105%;
    }

    .recommendation-container {
        padding: 0px 3.625rem;
    }

    .recommendation-header {
        padding: 3.5rem 0;
    }

    .recommendation-header__cards {
        font-size: 2rem;
    }

    .recommendation-cards__item {
        max-width: 46%;
    }

    .recommendation-cards__item>img {
        width: 16.75rem;
    }

    .company-container {
        padding: 0px 3.625rem;
    }

    .company-info {
        flex-direction: column;
        gap: 4rem;
        padding-top: 3.25rem;
    }

    .company-info__about {
        margin-left: 1rem;
    }

    .company-description__header {
        font-size: 2.625rem;
    }

    .services-container {
        margin-top: -54rem;
        padding: 0px 3.625rem;
    }

    .services-bg {
        background-size: 64.5rem auto;
    }

    .services-item {
        padding-top: 74.5rem;
        justify-content: space-around;
    }

    .services-item__block {
        width: 19.499rem;
    }

    .contact-container {
        flex-direction: column;
        padding: 0px 3.625rem;
    }

    .contact-info {
        width: inherit;
    }

    .section-contacts-header {
        font-size: 2.625rem;
    }

    .contact-form {
        width: inherit;
    }
}

@media (min-width: 365px) and (max-width: 767px) {
    [for=burger] {
        display: block;
    }

    .header-container {
        padding: 0px 0.825rem;
    }

    .menu,
    .menu-info,
    .menu-line,
    .menu-phone,
    .menu-btn_burger {
        display: none;
    }

    .fa-solid {
        font-size: 44px;
        color: #37aca0;
    }

    #burger:checked+label+div {
        display: block;
    }

    .greeting-container {
        padding: 0px 0.825rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: inherit;
    }

    .greeting-title__header {
        font-size: 1.625rem;
    }

    .greeting-title__item {
        flex-direction: column;
    }

    .item-list {
        font-size: 0.875rem;
    }

    .item-list {
        margin-left: 1.688rem;
    }

    .greeting-image__before {
        display: none;
    }

    .greeting-btn {
        margin-bottom: 4rem;
    }

    .goods-container {
        padding: 0px 0.825rem;
    }

    .goods-greetings {
        padding: 3.5rem 0;
    }

    .goods-greetings>button {
        display: none;
    }

    .goods-greetings__header {
        font-size: 1.5rem;
    }

    .goods-cards__item {
        max-width: 100%;
    }

    .price {
        padding: 0px 0.825rem;
    }

    .price-bg {
        display: none;
    }

    .price-list {
        position: absolute;
        z-index: 1;
        width: 100%;

        padding: 2rem 0rem 0rem 1rem;
    }

    .price-list__header {
        font-size: 2.625rem;
    }

    .price-bg__block {
        background: #37aca020;
    }

    .recommendation-container {
        padding: 0px 0.825rem;
    }

    .recommendation-header {
        padding: 3.5rem 0;
    }

    .recommendation-header__cards {
        font-size: 1.5rem;
    }

    .recommendation-cards__item {
        max-width: 100%;
    }

    .recommendation-cards__item>img {
        width: 16.75rem;
    }

    .company-container {
        padding: 0px 0.825rem;
    }

    .company-info {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3.25rem;
    }

    .company-description__header {
        font-size: 1.5rem;
    }

    .company-description__info {
        flex-direction: column;
    }

    .company-description__info-block {
        padding: 0;
        width: inherit;
    }

    .services-container {
        margin-top: -58rem;
        padding: 0px 0.825rem;
    }

    .services-bg {
        background: none
    }

    .services-item {
        justify-content: space-around;
    }

    .services-item__block {
        width: 19.499rem;
    }

    .contact-container {
        flex-direction: column;
        padding: 0px 0.825rem;
    }

    .contact-info {
        width: inherit;
    }

    .section-contacts-header {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding: 2rem 0 1rem 0;
    }

    .contacts-center {
        padding-bottom: 2rem;
        font-size: 1rem;
    }

    .contact-form {
        width: inherit;
    }

    .contact-form__header {
        font-size: 1rem;
    }

    .contact-input {
        padding: 1.2rem 7.875rem 1.2rem 1rem;
    }

    .contact-checkbox__block {
        font-size: 1rem;
        flex-wrap: wrap;
    }

    .contact-img {
        position: absolute;
        top: -12px;
        right: 27px;
    }

    .contact-img>img {
        height: 56px;
    }
}